.comment-input {
    position: relative;
    width: 800px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #e3e1e1;

    input {
        position: absolute;
        top: 0;
        left: 0;
        right: 220px;
        bottom: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-left: 20px;
    }
}

.camera {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 20px;
}

.smile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    font-size: 20px;
}

.rating {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
}
