.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--text-primary);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    @extend .medium;

    &.shadow {
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.curved {
        border-radius: 999px;
    }

    &.circle {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
    }
}

// Icons
.icon {
    display: inline-block;
    width: fit-content;
    text-align: center;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;

    &.center {
        justify-content: center;
    }
}

.icon + .content,
.content + .icon {
    margin-left: calc(var(--font-size) / 2);
}

// Type
.text {
    @extend .button;
    border: 1px solid transparent;
    background-color: transparent;

    &:hover {
        background-color: var(--hover-item);
    }
}

.text.active {
    background-color: var(--active-item);
}

.primary {
    background-color: var(--cl-primary);
    color: var(--text-primary);

    &:hover,
    &.active {
        background-color: var(--secondary);
        color: var(--text-secondary);
    }
}

.secondary {
    background-color: var(--secondary);
    color: var(--text-secondary);

    &:hover,
    &.active {
        background-color: var(--primary);
        color: var(--text-primary);
    }
}

.danger {
    background-color: var(--error-color);
    color: var(--text-error);

    &:hover,
    &.active {
        background-color: var(--text-error);
        color: var(--error-color);
    }
}

.primaryBorder {
    @extend .primary;
    border-color: var(--text-primary);

    &:hover,
    &.active {
        border-color: var(--text-secondary);
    }
}

.secondaryBorder {
    @extend .secondary;
    border-color: var(--text-secondary);

    &:hover,
    &.active {
        border-color: var(--text-primary);
    }
}

.outline {
    background-color: transparent;
    border-color: var(--primary);
    color: var(--text-primary);

    &:hover,
    &.active {
        background-color: var(--primary);
        border-color: var(--secondary);
        color: var(--text-secondary);
    }
}

// Size
.medium {
    padding: 9px 18px;
}

.small {
    padding: 6px 12px;
    border-radius: 9px 0;
}

.large {
    padding: 12px 24px;
    border-radius: 15px 0;
    font-size: 1.8rem;
    border-width: 2px;
}

.no-radius {
    border-radius: 0;
}

.no-click {
    pointer-events: none;
}
